@charset "utf-8";
/* CSS Document */

body{
	text-align:center;
}
.wrappaer{
	width:1200px;
	margin:0 auto;
}
.header{
	boder:solid 1px  #000000;
}
.header h1{
	text-align: left;
}
.header h3{
	text-align: left;
}
.header h4{
text-align: left;
}	

.main-0{
	border: solid 1px #000000;
	
}
.main-00 {
	float: left;
width:1200px;
	margin-top: 20px;
	background: #F1F1F1;
	margin-bottom: 30px;
	
	
}
.main-00 p{
	float: left;
	text-align: center;
	margin-left: 250px;
	font-size:20px;
	
}




.main-01{
	border: solid 1px #000000;
	background:#2DD803;
	color: aliceblue;
	margin-top: 90px;
width:1200px;
	
}



.main-1{
	width: 350px;
	float: left;
	border: solid 1px black;
	padding: 15px;;
	background: #F8F8F8;
	border-radius: 20px;
	
	
	
	
 
}
.main-2{
	width: 350px;
	float: left;
	margin-left: 20px;
	border: solid 1px ;
	padding: 10px;
}
.side{
	width: 300px;
float: left;
	margin-left: 20px;
		border: solid 1px ;
}
.main-3{
	float: left;
	width:1000px
	
}

.main-5{
	width:300px;
	float:left;
}

.main-6{
	width:300px;
	float:left;
}
.main-7{
	width:300px;
	float:left;
}

.foter{
		float:left;
	width:1000px
	
	
}













